<a href="https://colab.research.google.com/github/hemu2510/Python-Project/blob/main/pandas_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(10):
  print(i, end  = " ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
products_on_sale = ['Chair_Type_1', 'Chair_Type_2', 'Chair_Type_3', 'Chair_Type_4']
sale_prices = [100, 120, 135, 150]
quantities = [1000, 1500, 1300]

# Nested loop to calculate potential revenue
for chair_type in products_on_sale:
    for price in sale_prices:
        for quantity in quantities:
            potential_revenue = price * quantity
            print(f"Expected revenue for {chair_type} if {quantity} chairs are to be sold: {potential_revenue}")

Expected revenue for Chair_Type_1 if 1000 chairs are to be sold: 100000
Expected revenue for Chair_Type_1 if 1500 chairs are to be sold: 150000
Expected revenue for Chair_Type_1 if 1300 chairs are to be sold: 130000
Expected revenue for Chair_Type_1 if 1000 chairs are to be sold: 120000
Expected revenue for Chair_Type_1 if 1500 chairs are to be sold: 180000
Expected revenue for Chair_Type_1 if 1300 chairs are to be sold: 156000
Expected revenue for Chair_Type_1 if 1000 chairs are to be sold: 135000
Expected revenue for Chair_Type_1 if 1500 chairs are to be sold: 202500
Expected revenue for Chair_Type_1 if 1300 chairs are to be sold: 175500
Expected revenue for Chair_Type_1 if 1000 chairs are to be sold: 150000
Expected revenue for Chair_Type_1 if 1500 chairs are to be sold: 225000
Expected revenue for Chair_Type_1 if 1300 chairs are to be sold: 195000
Expected revenue for Chair_Type_2 if 1000 chairs are to be sold: 100000
Expected revenue for Chair_Type_2 if 1500 chairs are to be sold: 150000
Expected revenue for Chair_Type_2 if 1300 chairs are to be sold: 130000
Expected revenue for Chair_Type_2 if 1000 chairs are to be sold: 120000
Expected revenue for Chair_Type_2 if 1500 chairs are to be sold: 180000
Expected revenue for Chair_Type_2 if 1300 chairs are to be sold: 156000
Expected revenue for Chair_Type_2 if 1000 chairs are to be sold: 135000
Expected revenue for Chair_Type_2 if 1500 chairs are to be sold: 202500
Expected revenue for Chair_Type_2 if 1300 chairs are to be sold: 175500
Expected revenue for Chair_Type_2 if 1000 chairs are to be sold: 150000
Expected revenue for Chair_Type_2 if 1500 chairs are to be sold: 225000
Expected revenue for Chair_Type_2 if 1300 chairs are to be sold: 195000
Expected revenue for Chair_Type_3 if 1000 chairs are to be sold: 100000
Expected revenue for Chair_Type_3 if 1500 chairs are to be sold: 150000
Expected revenue for Chair_Type_3 if 1300 chairs are to be sold: 130000
Expected revenue for Chair_Type_3 if 1000 chairs are to be sold: 120000
Expected revenue for Chair_Type_3 if 1500 chairs are to be sold: 180000
Expected revenue for Chair_Type_3 if 1300 chairs are to be sold: 156000
Expected revenue for Chair_Type_3 if 1000 chairs are to be sold: 135000
Expected revenue for Chair_Type_3 if 1500 chairs are to be sold: 202500
Expected revenue for Chair_Type_3 if 1300 chairs are to be sold: 175500
Expected revenue for Chair_Type_3 if 1000 chairs are to be sold: 150000
Expected revenue for Chair_Type_3 if 1500 chairs are to be sold: 225000
Expected revenue for Chair_Type_3 if 1300 chairs are to be sold: 195000
Expected revenue for Chair_Type_4 if 1000 chairs are to be sold: 100000
Expected revenue for Chair_Type_4 if 1500 chairs are to be sold: 150000
Expected revenue for Chair_Type_4 if 1300 chairs are to be sold: 130000
Expected revenue for Chair_Type_4 if 1000 chairs are to be sold: 120000
Expected revenue for Chair_Type_4 if 1500 chairs are to be sold: 180000
Expected revenue for Chair_Type_4 if 1300 chairs are to be sold: 156000
Expected revenue for Chair_Type_4 if 1000 chairs are to be sold: 135000
Expected revenue for Chair_Type_4 if 1500 chairs are to be sold: 202500
Expected revenue for Chair_Type_4 if 1300 chairs are to be sold: 175500
Expected revenue for Chair_Type_4 if 1000 chairs are to be sold: 150000
Expected revenue for Chair_Type_4 if 1500 chairs are to be sold: 225000
Expected revenue for Chair_Type_4 if 1300 chairs are to be sold: 195000

In [ ]:
products_on_sale = ['Chair_Type_1', 'Chair_Type_2', 'Chair_Type_3', 'Chair_Type_4']
sale_prices = [100, 120, 135, 150]
quantities = [1000, 1500, 1300]

# Nested loop to calculate potential revenue
for chair_type in products_on_sale:
    for price in sale_prices:
        for quantity in quantities:
          sales_revenue = price * quantity
          print([chair_type, price*quantity])

['Chair_Type_1', 100000]
['Chair_Type_1', 150000]
['Chair_Type_1', 130000]
['Chair_Type_1', 120000]
['Chair_Type_1', 180000]
['Chair_Type_1', 156000]
['Chair_Type_1', 135000]
['Chair_Type_1', 202500]
['Chair_Type_1', 175500]
['Chair_Type_1', 150000]
['Chair_Type_1', 225000]
['Chair_Type_1', 195000]
['Chair_Type_2', 100000]
['Chair_Type_2', 150000]
['Chair_Type_2', 130000]
['Chair_Type_2', 120000]
['Chair_Type_2', 180000]
['Chair_Type_2', 156000]
['Chair_Type_2', 135000]
['Chair_Type_2', 202500]
['Chair_Type_2', 175500]
['Chair_Type_2', 150000]
['Chair_Type_2', 225000]
['Chair_Type_2', 195000]
['Chair_Type_3', 100000]
['Chair_Type_3', 150000]
['Chair_Type_3', 130000]
['Chair_Type_3', 120000]
['Chair_Type_3', 180000]
['Chair_Type_3', 156000]
['Chair_Type_3', 135000]
['Chair_Type_3', 202500]
['Chair_Type_3', 175500]
['Chair_Type_3', 150000]
['Chair_Type_3', 225000]
['Chair_Type_3', 195000]
['Chair_Type_4', 100000]
['Chair_Type_4', 150000]
['Chair_Type_4', 130000]
['Chair_Type_4', 120000]
['Chair_Type_4', 180000]
['Chair_Type_4', 156000]
['Chair_Type_4', 135000]
['Chair_Type_4', 202500]
['Chair_Type_4', 175500]
['Chair_Type_4', 150000]
['Chair_Type_4', 225000]
['Chair_Type_4', 195000]

In [ ]:
num = []
for num in range(1, 11):
    if num % 2 == 0:
        print(num * 10, end=" ")

20 40 60 80 100

In [ ]:
result = [num * 10 if num % == 0 else "None" for num in range (1,11)]
print(result)

SyntaxError: expected 'else' after 'if' expression (<ipython-input-4-7099e63d38c5>, line 1)

In [ ]:
for num in range(1,11):
  if num % 2 == 0:
    print(num * 10, end=" ")
  else:
    print("None", end=" ")

None 20 None 40 None 60 None 80 None 100

In [ ]:
def multiply_by_10(x):
    return x * 10
result = multiply_by_10(5)
print(result)

50

In [ ]:
print ((lambda x: x * 10)(7))

70

In [ ]:
product_xy = lambda x, y: x * y
print(product_xy(4, 20))

80

In [ ]:
 expression = lambda x: (135 - x *** 3) 4 % (1 + x)5
print(expression(3))

SyntaxError: invalid syntax (<ipython-input-13-be45ace20ee1>, line 1)

In [ ]:
 expression = lambda x: (135-x **3)**4 / (1 + x)**5
print(expression(3))

132860.25

In [4]:
import pandas as pd

data = pd.read_csv(r"/content/Region.csv").squeeze("columns")
region_data = data.head()
print(region_data)

0    Region 2
1    Region 6
2    Region 3
3    Region 2
4    Region 3
Name: Region, dtype: object

In [10]:
import pandas as pd

data = pd.read_csv(r"/content/Region.csv").squeeze("columns")


def extract_number(region_label):
    return int(region_label.split(' ')[1])

    region_data = region_data.apply(extract_number)
print(region_data)

0       Region 2
1       Region 6
2       Region 3
3       Region 2
4       Region 3
          ...
1037    Region 6
1038    Region 1
1039    Region 4
1040    Region 6
1041    Region 6
Name: Region, Length: 1042, dtype: object

In [15]:
import pandas as pd

data = pd.read_csv(r"/content/Region.csv").squeeze("columns")
region_data = data.copy()
region_data_sorted = region_data.sort_values(ascending=True)
print(region_data_sorted)

462    Region 1
347    Region 1
609    Region 1
610    Region 1
339    Region 1
         ...
536    Region 9
450    Region 9
8      Region 9
842    Region 9
940    Region 9
Name: Region, Length: 1042, dtype: object

In [16]:
import pandas as pd

data = pd.read_csv(r"/content/Region.csv").squeeze("columns")
region_data = data.copy()
region_data_sorted = region_data.sort_values(ascending=False)
print(region_data_sorted)

450    Region 9
842    Region 9
141    Region 9
940    Region 9
8      Region 9
         ...
569    Region 1
892    Region 1
558    Region 1
557    Region 1
309    Region 1
Name: Region, Length: 1042, dtype: object

In [19]:
import pandas as pd
data = pd.read_csv(r"/content/Region.csv").squeeze("columns")
region_data = data.head()
print(region_data.to_list())

['Region 2', 'Region 6', 'Region 3', 'Region 2', 'Region 3']

TypeError: 'Series' object is not callable

In [31]:
import pandas as pd

data = pd.read_csv('Region.csv').squeeze("columns")
region_data = data.copy()
region_data = data.sort_values(ascending=True).head(5)
print(region_data)

462    Region 1
347    Region 1
609    Region 1
610    Region 1
339    Region 1
Name: Region, dtype: object

In [28]:
import pandas as pd

data = pd.read_csv('Region.csv').squeeze("columns")
region_data = data.copy()
region_data = data.sort_values(ascending=False).tail(5)
print(region_data)

569    Region 1
892    Region 1
558    Region 1
557    Region 1
309    Region 1
Name: Region, dtype: object

In [35]:
import pandas as pd
emp_birth_date = pd.Series({
    'No_0001': '1963-08-02',
    'No_0002': '1964_06-13',
    'No_0003': '1989-12-04',
    'No_0004': '1996-04-08'

})
print(emp_birth_date)

No_0001    1963-08-02
No_0002    1964_06-13
No_0003    1989-12-04
No_0004    1996-04-08
dtype: object

In [3]:
import pandas as pd

emp_birth_date = pd.Series({'No_0001':'1963-08-02', 'No_0002':'1964-06-13', 'No_0003':'1989-12-04', 'No_0004':'1996-04-08'})
emp_index = emp_birth_date.index
print(emp_index)

Index(['No_0001', 'No_0002', 'No_0003', 'No_0004'], dtype='object')

In [7]:
 import pandas as pd
 emp_birth_date = pd.Series({
     'No_0001':'1963-08-02',
     'No_0002':'1964-06-13',
     'No_0003':'1989-12-04',
     'No_0004':'1996-04-08'
    })

 emp_values = emp_birth_date.values
 print(emp_values)

['1963-08-02' '1964-06-13' '1989-12-04' '1996-04-08']

In [12]:
import pandas as pd
data = pd.read_csv(r"/content/Region.csv").squeeze("columns")
print(region_data.head())

0    Region 2
1    Region 6
2    Region 3
3    Region 2
4    Region 3
Name: Region, dtype: object

In [13]:
import pandas as pd

data = pd.read_csv('Region.csv').squeeze("columns")
region_data = data.copy()
region_data = data.sort_values(ascending=False)
print(region_data)

450    Region 9
842    Region 9
141    Region 9
940    Region 9
8      Region 9
         ...
569    Region 1
892    Region 1
558    Region 1
557    Region 1
309    Region 1
Name: Region, Length: 1042, dtype: object

In [14]:
import pandas as pd

data = pd.read_csv('Region.csv').squeeze("columns")
region_data = data.copy()
region_data = region_data.sort_values(ascending=False)
region_data_sort = region_data.sort_index()
print(region_data_sort)

0       Region 2
1       Region 6
2       Region 3
3       Region 2
4       Region 3
          ...
1037    Region 6
1038    Region 1
1039    Region 4
1040    Region 6
1041    Region 6
Name: Region, Length: 1042, dtype: object

In [15]:
import pandas as pd

data = pd.read_csv('Region.csv').squeeze("columns")
region_data = data.copy()
region_data = region_data.sort_values(ascending=False)
region_data_sort = region_data.sort_index(ascending=False)
print(region_data_sort)

1041    Region 6
1040    Region 6
1039    Region 4
1038    Region 1
1037    Region 6
          ...
4       Region 3
3       Region 2
2       Region 3
1       Region 6
0       Region 2
Name: Region, Length: 1042, dtype: object