<a href="https://colab.research.google.com/github/hemu2510/Python-Project/blob/main/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def exponentiation_exp_2(x):
    result = x ** 2
    print("Raised to the power of 2:")
    return result

In [ ]:
def exponentiation_exp_2(x):
    result = x ** 2
    print(f"{x} Raised to the power of 2: {result}")
    return result

In [ ]:
def plus_five(x):
  return x + 5
def m_by_3(x):
  return plus_five(x) *3

result = m_by_3(5)
print(result)

30

In [ ]:
def compare_the_two(x):
    if x >= 2:
        return "Greater"
    elif:
        return "Less"
    else:
        return "Equal"

print(compare_the_two(1))

SyntaxError: invalid syntax (<ipython-input-7-9edd05868ba2>, line 4)

In [ ]:
def compare_the_two(x, y):
    if x > y:
        print("Greater")
    elif y > x:
        print("Less")
    else:
        print("Equal")

compare_the_two( 2,5)

Less

In [ ]:
max(25,65,890,15)

890

In [ ]:
abs(-100)

100

In [ ]:
round(55.5)

56

In [ ]:
round(35.56789)

36

In [ ]:
round(35.56789, 3)

35.568

In [ ]:
Numbers = [1, 5, 64, 24.5]
sum(Numbers)

94.5

In [ ]:
pip install mat

Collecting mat
  Downloading mat-1.0.2.tar.gz (11 kB)
  Preparing metadata (setup.py) ... done
Collecting mysql-connector-python>=8.0.20 (from mat)
  Downloading mysql_connector_python-9.2.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (6.0 kB)
Requirement already satisfied: PyYAML>=5.3.1 in /usr/local/lib/python3.11/dist-packages (from mat) (6.0.2)
Requirement already satisfied: tabulate>=0.8.7 in /usr/local/lib/python3.11/dist-packages (from mat) (0.9.0)
Downloading mysql_connector_python-9.2.0-cp311-cp311-manylinux_2_28_x86_64.whl (34.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.0/34.0 MB 49.0 MB/s eta 0:00:00
Building wheels for collected packages: mat
  Building wheel for mat (setup.py) ... done
  Created wheel for mat: filename=mat-1.0.2-py3-none-any.whl size=11672 sha256=32054affc1b79b56cd74886d16d035ab56a22e6912b286ef763860df0b628b18
  Stored in directory: /root/.cache/pip/wheels/52/d5/74/536e139e8ca764ab351663048fb32cd0486411c6c41dd0c349
Successfully built mat
Installing collected packages: mysql-connector-python, mat
Successfully installed mat-1.0.2 mysql-connector-python-9.2.0

In [ ]:
Numbers = [10, 25, 40, 50]
Numbers.remove(25)
print(Numbers)

[10, 40, 50]

In [ ]:
Numbers = [15, 40, 50]
Numbers.append(100)
print(Numbers)

[15, 40, 50, 100]

In [ ]:
Numbers = [15, 40, 50, 100]
Numbers.extend([115, 140])
print(Numbers)

[15, 40, 50, 100, 115, 140]

In [ ]:
Numbers = [15, 40, 50, 100, 115, 140]
print('The fourth element of the list is' + Numbers[4] + '.')

TypeError: can only concatenate str (not "int") to str

In [ ]:
Numbers = [15, 40, 50, 100, 115, 140]
print(f'The fourth element of the list is,{Numbers[3]}')

The fourth element of the list is,100

In [ ]:
Numbers = [15, 40, 50, 100, 115, 140]
len(Numbers)

6

In [ ]:
Numbers = [15, 40, 50, 100, 115, 140]
print(len(Numbers))

6

In [ ]:
|Numbers = [15, 40, 50, 100, 115, 140]
print(Numbers[3:5])

SyntaxError: invalid syntax (<ipython-input-38-0794576a3029>, line 1)

In [ ]:
Numbers = [15, 40, 50, 100, 115, 140]
print(Numbers[:4])

[15, 40, 50, 100]

In [ ]:
Numbers = [15, 40, 50, 100, 115, 140]
print(Numbers[-4:])

[50, 100, 115, 140]

In [ ]:
Numbers = [15, 40, 50, 100, 115, 140]
Two_Numbers = [1, 2]
All_Numbers = []
All_Numbers.append(Two_Numbers)
All_Numbers.append(Numbers)
print(All_Numbers)

[[1, 2], [15, 40, 50, 100, 115, 140]]

In [ ]:
Numbers = [15, 40, 50, 100, 115, 140]
Numbers.sort()
print(Numbers)

[15, 40, 50, 100, 115, 140]

In [ ]:
Cars = ("BMW", "Dodge", "Ford")
print (Cars.index[2])

TypeError: 'builtin_function_or_method' object is not subscriptable

In [ ]:
name, age = 'Peter,24'
person = ("Peter", 24)
name, age = person
print("Name:", name)
print("age:", age)

ValueError: too many values to unpack (expected 2)

In [ ]:
name, age = 'Peter,24'
person_string = "Alice 30"
name, age = person_string.split()
print("Name:", name)
print("Age:", age)

ValueError: too many values to unpack (expected 2)

In [ ]:
name, age = '"Peter,24".split(",")'
print(name)
print(age)

ValueError: too many values to unpack (expected 2)

In [ ]:
def rectangle_info(length,width):
    area = length * width

    perimeter = 2 * (length + width)
    return area, perimeter
area, peremiter = rectangle_info(2, 10)
print("Area:", area)
print("Perimeter:", Perimeter)

Area: 20

NameError: name 'Perimeter' is not defined

In [ ]:
def rectangle_info():
    l = x ** 2
    w = 10 * x
    print("length", "Width" :)
    return l,W
rectangle_info(2)

SyntaxError: invalid syntax (<ipython-input-61-26abce91697a>, line 4)

In [ ]:
def rectangle_info(x):
    L = x ** 2
    W = 10 * x
    print("length and Width:")
    return L,W
rectangle_info(2)

length and Width:

(4, 20)

In [ ]:
def rectangle_info(x ,y):
    a = x * y
    p = 2 * (x + y)
    return a, p
rectangle_info(2, 10)

(20, 24)

In [ ]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Hamburger', 'meal_4':'Lasagna'}
print['meal_2']

TypeError: 'builtin_function_or_method' object is not subscriptable

In [ ]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Hamburger', 'meal_4':'Lasagna'}
print (Menu['meal_2'])

Fries

In [ ]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Hamburger', 'meal_4':'Lasagna'}
append.Menu =('meal_5', "Soup")
print(Menu)

NameError: name 'append' is not defined

In [ ]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Hamburger', 'meal_4':'Lasagna'}
Menu = append.Menu =('meal_5', "Soup")
print(Menu)

NameError: name 'append' is not defined

In [ ]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Hamburger', 'meal_4':'Lasagna'}
Menu['meal_5'] = "Sour"
print(Menu)

{'meal_1': 'Spaghetti', 'meal_2': 'Fries', 'meal_3': 'Hamburger', 'meal_4': 'Lasagna', 'meal_5': 'Sour'}

In [ ]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Hamburger', 'meal_4':'Lasagna'}
Menu['meal_3'] = "Chesseburger"
print(Menu)

{'meal_1': 'Spaghetti', 'meal_2': 'Fries', 'meal_3': 'Chesseburger', 'meal_4': 'Lasagna'}

In [ ]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Cheeseburger', 'meal_4':'Lasagna'}
Dessert = ['Pancakes', 'Ice-cream', 'Tiramisu']
Menu['meal_5'] = 'Soup'
Menu['meal_6'] = "Dessert"
print(Menu)

{'meal_1': 'Spaghetti', 'meal_2': 'Fries', 'meal_3': 'Cheeseburger', 'meal_4': 'Lasagna', 'meal_5': 'Soup', 'meal_6': 'Dessert'}

In [ ]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Cheeseburger', 'meal_4':'Lasagna'}
Dessert = ['Pancakes', 'Ice-cream', 'Tiramisu']
Menu['meal_5'] = 'Soup'
Menu['meal_6'] = "Desserts ['Pancakes', 'Ice-cream', 'Tiramisu']"
print(Menu)

{'meal_1': 'Spaghetti', 'meal_2': 'Fries', 'meal_3': 'Cheeseburger', 'meal_4': 'Lasagna', 'meal_5': 'Soup', 'meal_6': "Desserts ['Pancakes', 'Ice-cream', 'Tiramisu']"}

In [ ]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Cheeseburger', 'meal_4':'Lasagna'}
Dessert = ['Pancakes', 'Ice-cream', 'Tiramisu']
Menu['meal_5'] = 'Soup'
Menu['meal_6'] = "Desserts ['Pancakes', 'Ice-cream', 'Tiramisu']'
print(Menu)

SyntaxError: invalid syntax (<ipython-input-81-948074389c62>, line 4)

In [ ]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Cheeseburger', 'meal_4':'Lasagna'}
Dessert = ['Pancakes', 'Ice-cream', 'Tiramisu']
Menu['meal_5'] = 'Soup'
Menu['meal_6'] = Dessert
print(Menu)

{'meal_1': 'Spaghetti', 'meal_2': 'Fries', 'meal_3': 'Cheeseburger', 'meal_4': 'Lasagna', 'meal_5': 'Soup', 'meal_6': ['Pancakes', 'Ice-cream', 'Tiramisu']}

In [ ]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Cheeseburger', 'meal_4':'Lasagna', 'meal_5':'Soup'}
Price_list = {}
Price_list = [10, 5, 8, 12, 5]

print(Price_list)

[10, 5, 8, 12, 5]

In [ ]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Cheeseburger', 'meal_4':'Lasagna', 'meal_5':'Soup'}
Price_list = {}
Price_list = [10, 5, 8, 12, 5]
print(menu) = "Meal_1"

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (<ipython-input-84-226b1e0a3b6f>, line 4)

In [ ]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Cheeseburger', 'meal_4':'Lasagna', 'meal_5':'Soup'}
Price_list = {}
lst = [10, 5, 8, 12, 5]
m1 = Menu['meal_1']
Price_list[m1] = 10
m2 = Menu['meal_2']
Price_list[m2] = 5
m3 = Menu['meal_3']
Price_list[m3] = 8
m4 = Menu['meal_4']
Price_list[m4] = 12
m5 = Menu['meal_5']
Price_list[m5] = 5
print(Price_list)

{'Spaghetti': 10, 'Fries': 5, 'Cheeseburger': 8, 'Lasagna': 12, 'Soup': 5}

In [ ]:
Price_list = {'Cheeseburger': 8, 'Fries': 5, 'Lasagna': 12, 'Soup': 5, 'Spaghetti': 10}

None

In [ ]:
Price_list = {'Cheeseburger': 8, 'Fries': 5, 'Lasagna': 12, 'Soup': 5, 'Spaghetti': 10}
spaghetti_price = Price_list.get('Spaghetti')
print(spaghetti_price)

10

In [ ]:
digits = [0,1,2,3,4,5,6,7,8,9]
for i in digits:
    print(i, end = " ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
num = 1
while num <= 30:
    print(num, end=" ")
    num += 2

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29

In [ ]:
range(1,10)
print(range)

<class 'range'>

In [ ]:

list(range(1,10))

TypeError: 'tuple' object is not callable

In [ ]:

list(range(0,19))

TypeError: 'tuple' object is not callable

In [ ]:
numbers = list(range(0,19))
print (numbers)

TypeError: 'tuple' object is not callable

In [ ]:
range(0,20)
list(range(0,20))

TypeError: 'tuple' object is not callable

In [ ]:
range(0,19)

TypeError: 'tuple' object is not callable

In [ ]:
range(1,11)

TypeError: 'tuple' object is not callable

In [ ]:
range(0, 30, 2)
list(range(0, 30 ,2))

TypeError: 'tuple' object is not callable

In [ ]:
range(0,30,2)

TypeError: 'tuple' object is not callable

In [ ]:
for n in range(10):
    pass

TypeError: 'tuple' object is not callable

In [ ]:
for n in range(1, 10):
    print(2 ** n)

TypeError: 'tuple' object is not callable