<a href="https://colab.research.google.com/github/hemu2510/Python--udemy-course-/blob/main/working_with_text_files_iloc()_loc().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

working with text files

In [32]:
import pandas as pd
data = pd.read_csv('/content/Lending-company.csv')
data.tail()

,LoanID,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
0,1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
1,2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
2,3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
3,4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
4,5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [38]:
import pandas as pd
data = pd.read_csv('/content/Lending-company.csv')
data.tail(10)

,LoanID,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
1033,1034,LoanID_1034,Product D,Male,Location 181,Region 3,55325.0,18/01/2020,8000,120,365,15851,20143,54642,Finished Payment
1034,1035,LoanID_1035,Product B,Female,Location 87,Region 6,17300.0,21/11/2018,2200,45,365,4471,4763,16617,Finished Payment
1035,1036,LoanID_1036,Product B,Female,Location 30,Region 6,20950.0,02/05/2017,2200,55,365,3551,5343,20267,Finished Payment
1036,1037,LoanID_1037,Product D,Male,Location 60,Region 2,17300.0,17/05/2018,2200,45,365,2990,4482,16617,Finished Payment
1037,1038,LoanID_1038,Product A,Female,Location 4,Region 6,17300.0,26/12/2018,2200,45,365,2931,4483,16617,Finished Payment
1038,1039,LoanID_1039,Product B,Male,Location 73,Region 6,17300.0,29/12/2018,2200,45,365,3251,4743,16617,Finished Payment
1039,1040,LoanID_1040,Product A,Male,Location 82,Region 1,NaN,28/03/2018,2200,45,365,4090,5582,16617,Finished Payment
1040,1041,LoanID_1041,Product A,NotSpecified,Location 11,Region 4,17300.0,26/04/2018,2200,45,365,4051,5143,16617,Finished Payment
1041,1042,LoanID_1042,Product B,Female,Location 26,Region 6,16300.0,25/10/2016,1000,45,365,1930,3462,15617,Finished Payment
1042,1043,LoanID_1043,Product A,NotSpecified,Location 94,Region 6,17300.0,15/05/2019,2200,45,365,4451,4743,16617,Finished Payment

In [26]:
import pandas as pd
data = pd.read_csv('/content/Lending-company.csv')
lending_company = data.copy()
lending_company.Location

0        Location 3
1        Location 6
2        Location 8
3       Location 26
4       Location 34
           ...
1038    Location 73
1039    Location 82
1040    Location 11
1041    Location 26
1042    Location 94
Name: Location, Length: 1043, dtype: object

In [29]:
import pandas as pd
data = pd.read_csv('/content/Lending-company.csv')
lending_company = data.copy()
lending_company.Location.value_counts()

Location
Location 25     31
Location 30     27
Location 3      24
Location 26     23
Location 22     21
                ..
Location 168     1
Location 136     1
Location 99      1
Location 132     1
Location 181     1
Name: count, Length: 296, dtype: int64

In [31]:
import pandas as pd
data = pd.read_csv('/content/Lending-company.csv')
lending_company = data.copy()
print(type(lending_company.Location))

<class 'pandas.core.series.Series'>

In [40]:
import pandas as pd
data = pd.read_csv('/content/Lending-company.csv')
lending_company = data.copy()
lending_company[['Location', 'Product']].head()

      Location    Product
0   Location 3  Product B
1   Location 6  Product D
2   Location 8  Product B
3  Location 26  Product A
4  Location 34  Product B

In [2]:
import pandas as pd
data = pd.read_csv('/content/Lending-company.csv')
lending_company = data.copy()
lending_company[['Location']]

         Location
0      Location 3
1      Location 6
2      Location 8
3     Location 26
4     Location 34
...           ...
1038  Location 73
1039  Location 82
1040  Location 11
1041  Location 26
1042  Location 94

[1043 rows x 1 columns]

In [5]:
import pandas as pd
data = pd.read_csv('/content/Lending-company.csv')
lending_company = data.copy()
lending_company[['Product', 'CustomerGender']]

        Product CustomerGender
0     Product B         Female
1     Product D         Female
2     Product B           Male
3     Product A           Male
4     Product B         Female
...         ...            ...
1038  Product B           Male
1039  Product A           Male
1040  Product A   NotSpecified
1041  Product B         Female
1042  Product A   NotSpecified

[1043 rows x 2 columns]

indexing with .ioc[]

In [7]:
import pandas as pd
data = pd.read_csv('/content/Lending-company.csv')
lending_company = data.copy()
lending_company.iloc[1]

LoanID                     2
StringID            LoanID_2
Product            Product D
CustomerGender        Female
Location          Location 6
Region              Region 6
TotalPrice               NaN
StartDate         02/01/2019
Deposit                 2200
DailyRate                 45
TotalDaysYr              365
AmtPaid36               3161
AmtPaid60               4096
AmtPaid360             16041
LoanStatus            Active
Name: 1, dtype: object

In [8]:
import pandas as pd
data = pd.read_csv('/content/Lending-company.csv')
lending_company = data.copy()
lending_company.iloc[1,5]

'Region 6'

In [9]:
import pandas as pd
data = pd.read_csv('/content/Lending-company.csv')
lending_company = data.copy()
lending_company.iloc[:,6]

0       17600.0
1           NaN
2       16600.0
3       17600.0
4       21250.0
         ...
1038    17300.0
1039        NaN
1040    17300.0
1041    16300.0
1042    17300.0
Name: TotalPrice, Length: 1043, dtype: float64

In [12]:
import pandas as pd
data = pd.read_csv('/content/Lending-company.csv')
lending_company = data.copy()
lending_company.iloc[1,:]

LoanID                     2
StringID            LoanID_2
Product            Product D
CustomerGender        Female
Location          Location 6
Region              Region 6
TotalPrice               NaN
StartDate         02/01/2019
Deposit                 2200
DailyRate                 45
TotalDaysYr              365
AmtPaid36               3161
AmtPaid60               4096
AmtPaid360             16041
LoanStatus            Active
Name: 1, dtype: object

In [14]:
import pandas as pd
data = pd.read_csv('/content/Lending-company.csv')
lending_company = data.copy()
lending_company.iloc[3,:]

LoanID                      4
StringID             LoanID_4
Product             Product A
CustomerGender           Male
Location          Location 26
Region               Region 2
TotalPrice            17600.0
StartDate                 NaN
Deposit                  2200
DailyRate                  45
TotalDaysYr               365
AmtPaid36                3141
AmtPaid60                4166
AmtPaid360              16321
LoanStatus             Active
Name: 3, dtype: object

In [15]:
import pandas as pd
data = pd.read_csv('/content/Lending-company.csv')
lending_company = data.copy()
type(lending_company.iloc[1,:])

pandas.core.series.Series

In [16]:
type(lending_company.iloc[1, 3])

str

In [18]:
import pandas as pd
data = pd.read_csv('/content/Lending-company.csv')
lending_company = data.copy()
lending_company.iloc[[1,128], :]

,LoanID,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
1,2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
128,129,LoanID_129,Product B,Female,Location 97,Region 6,17600.0,05/06/2018,2200,45,365,3581,4166,10781,Active

In [19]:
import pandas as pd
data = pd.read_csv('/content/Lending-company.csv')
lending_company = data.copy()
lending_company.iloc[:,[3,5]]

     CustomerGender    Region
0            Female  Region 2
1            Female  Region 6
2              Male  Region 3
3              Male  Region 2
4            Female  Region 3
...             ...       ...
1038           Male  Region 6
1039           Male  Region 1
1040   NotSpecified  Region 4
1041         Female  Region 6
1042   NotSpecified  Region 6

[1043 rows x 2 columns]

indexing with .loc()

In [29]:
import pandas as pd
data = pd.read_csv('/content/Lending-company.csv')
lending_company = data.copy()
lending_company

,LoanID,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
0,1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
1,2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
2,3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
3,4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
4,5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1038,1039,LoanID_1039,Product B,Male,Location 73,Region 6,17300.0,29/12/2018,2200,45,365,3251,4743,16617,Finished Payment
1039,1040,LoanID_1040,Product A,Male,Location 82,Region 1,NaN,28/03/2018,2200,45,365,4090,5582,16617,Finished Payment
1040,1041,LoanID_1041,Product A,NotSpecified,Location 11,Region 4,17300.0,26/04/2018,2200,45,365,4051,5143,16617,Finished Payment
1041,1042,LoanID_1042,Product B,Female,Location 26,Region 6,16300.0,25/10/2016,1000,45,365,1930,3462,15617,Finished Payment
1042,1043,LoanID_1043,Product A,NotSpecified,Location 94,Region 6,17300.0,15/05/2019,2200,45,365,4451,4743,16617,Finished Payment

In [38]:
import pandas as pd
data = pd.read_csv('/content/Lending-company.csv', index_col = 'StringID')
lending_company_data = data.copy()
lending_company_data

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_2,2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
LoanID_3,3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
LoanID_4,4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
LoanID_5,5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
LoanID_1039,1039,Product B,Male,Location 73,Region 6,17300.0,29/12/2018,2200,45,365,3251,4743,16617,Finished Payment
LoanID_1040,1040,Product A,Male,Location 82,Region 1,NaN,28/03/2018,2200,45,365,4090,5582,16617,Finished Payment
LoanID_1041,1041,Product A,NotSpecified,Location 11,Region 4,17300.0,26/04/2018,2200,45,365,4051,5143,16617,Finished Payment
LoanID_1042,1042,Product B,Female,Location 26,Region 6,16300.0,25/10/2016,1000,45,365,1930,3462,15617,Finished Payment
LoanID_1043,1043,Product A,NotSpecified,Location 94,Region 6,17300.0,15/05/2019,2200,45,365,4451,4743,16617,Finished Payment

In [39]:
import pandas as pd
data = pd.read_csv('/content/Lending-company.csv', index_col = 'StringID')
lending_company = data.copy()
lending_company.loc['LoanID_345', 'CustomerGender']

'Male'

In [40]:
import pandas as pd
data = pd.read_csv('/content/Lending-company.csv', index_col = 'StringID')
lending_company = data.copy()
lending_company.loc['LoanID_101']

LoanID                    101
Product             Product B
CustomerGender           Male
Location          Location 91
Region               Region 2
TotalPrice            17600.0
StartDate          03/02/2018
Deposit                  2200
DailyRate                  45
TotalDaysYr               365
AmtPaid36                3501
AmtPaid60                4546
AmtPaid360              14061
LoanStatus             Active
Name: LoanID_101, dtype: object

In [48]:
import pandas as pd
data = pd.read_csv('/content/Lending-company.csv', index_col = 'StringID')
lending_company = data.copy()
lending_company.loc['LoanID_12' : 'LoanID_14']

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_12,12,Product D,Female,Location 25,Region 6,21250.0,29/03/2017,2200,55,365,3190,4115,11790,Active
LoanID_13,13,Product B,Female,Location 579,Region 3,17600.0,03/10/2018,2200,45,365,3221,5086,14441,Active
LoanID_14,14,Product A,Male,Location 602,Region 3,21750.0,18/09/2019,3000,55,365,1780,1605,6010,Active

In [50]:
lending_company.loc[:,'Location']

StringID
LoanID_1        Location 3
LoanID_2        Location 6
LoanID_3        Location 8
LoanID_4       Location 26
LoanID_5       Location 34
                  ...
LoanID_1039    Location 73
LoanID_1040    Location 82
LoanID_1041    Location 11
LoanID_1042    Location 26
LoanID_1043    Location 94
Name: Location, Length: 1043, dtype: object

In [55]:
lending_company.loc[:, 'DailyRate'].iloc[[4,7]]

StringID
LoanID_5    55
LoanID_8    45
Name: DailyRate, dtype: int64